<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chapterId</key>
		<string>1</string>
		<key>title</key>
		<string>码集概览</string>
		<key>questionNumber</key>
		<string>5</string>
		<key>practiceNumber</key>
		<string>0</string>
		<key>chapterIcon</key>
		<string>chapter1</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>码集的适用人群</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>没有HTML与CSS基础怎么办</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>码集内容的排布方式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>码集内容的基本组成</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>码集之外的学习资源</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>2</string>
		<key>title</key>
		<string>修改网页文本内容</string>
		<key>questionNumber</key>
		<string>12</string>
		<key>practiceNumber</key>
		<string>3</string>
		<key>chapterIcon</key>
		<string>chapter2</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>最终目标</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>“连接”HTML与JavaScript</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>对象.方法 对象.属性</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>弹窗来啦</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>在控制台输出内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>声明变量</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>代码执行顺序</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>变量与带有引号的变量</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>获取标签</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>获取标签的内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>通过innerHTML获取的内容包含什么</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>修改标签的内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>3</string>
		<key>title</key>
		<string>展示当前时间</string>
		<key>questionNumber</key>
		<string>10</string>
		<key>practiceNumber</key>
		<string>4</string>
		<key>chapterIcon</key>
		<string>chapter3</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>最终目标</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>初识函数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>JS自带的时间函数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>将当前时间显示在网页当中</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>在时间信息中提取年份</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>在时间信息中提取月份</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>掌握算术操作符，输出实际月份</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>在时间信息中提取“日期与星期”</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>在时间信息中提取“时分秒”</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>在网页中展示当前的年月日</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>4</string>
		<key>title</key>
		<string>根据时间展示信息</string>
		<key>questionNumber</key>
		<string>10</string>
		<key>practiceNumber</key>
		<string>4</string>
		<key>chapterIcon</key>
		<string>chapter4</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>最终目标</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>关系操作符</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>= 与 ==</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>== 与 ===</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>认识条件语句</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>if语句实例</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>没有else的if语句</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>多组if else</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>根据当前时间，提供不同的反馈信息</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>学会设置时间，便于调试</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>5</string>
		<key>title</key>
		<string>随机显示某个提示信息</string>
		<key>questionNumber</key>
		<string>12</string>
		<key>practiceNumber</key>
		<string>4</string>
		<key>chapterIcon</key>
		<string>chapter5</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>最终目标</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>数组的创建</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>访问数组中的元素</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>修改数组中的元素</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>获取数组长度</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>显示数组中的某一信息</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>随机数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>随机整数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>某区间的随机整数（一）</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>某区间的随机整数（二）</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>随机显示数组元素</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>当时间遇到数组和随机数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>6</string>
		<key>title</key>
		<string>综合案例实战</string>
		<key>questionNumber</key>
		<string>10</string>
		<key>practiceNumber</key>
		<string>1</string>
		<key>chapterIcon</key>
		<string>chapter6</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>最终目标</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>创建基本的html结构并获取标签</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>认识多维数组</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>访问多维数组中的元素</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>根据时间与信息对应关系，创建数组</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>初始化提示信息并获取时间</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>编写条件语句</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>生成随机数</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>替换标签内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>案例回顾</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>7</string>
		<key>title</key>
		<string>弹窗与标签内容修改</string>
		<key>questionNumber</key>
		<string>10</string>
		<key>practiceNumber</key>
		<string>3</string>
		<key>chapterIcon</key>
		<string>chapter7</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>多样的弹窗</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>弹窗对网页加载的阻塞</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>弹窗中的换行</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>JS的注释</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>“批量”获取标签的方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>用数组相关知识访问具体标签</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>“区域性”获取标签</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>innerText获取标签内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>使用innerText设置标签内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>在原有的内容上添加内容</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>8</string>
		<key>title</key>
		<string>变量</string>
		<key>questionNumber</key>
		<string>9</string>
		<key>practiceNumber</key>
		<string>4</string>
		<key>chapterIcon</key>
		<string>chapter8</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>未声明变量时能否直接使用</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>多次声明一个变量</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>声明变量但不赋值</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>变量名的基本组成</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>变量的大小写问题</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>变量中的空格</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>关键字</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>变量的命名推荐</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>各类命名法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>9</string>
		<key>title</key>
		<string>数据类型</string>
		<key>questionNumber</key>
		<string>12</string>
		<key>practiceNumber</key>
		<string>4</string>
		<key>chapterIcon</key>
		<string>chapter9</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>JavaScript的数据类型</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>typeof进行数据类型检测</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>typeof返回值的问题</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>数字与数字型字符串</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>Infinity</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>当字符串遇到“加”运算</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>当字符串遇到“加”之外的算术运算</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>特殊的NaN</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>undefined</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>undefined与null</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>object</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>boolean</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>10</string>
		<key>title</key>
		<string>数据类型转换</string>
		<key>questionNumber</key>
		<string>12</string>
		<key>practiceNumber</key>
		<string>5</string>
		<key>chapterIcon</key>
		<string>chapter10</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>字符串与boolean比较</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>字符串作为if的判断表达式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>数字作为if的判断表达式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>null、undefined作为if的判断表达式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>object作为if的判断表达式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>隐式转换（字符串—&gt;数字）</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>隐式转换（数字—&gt;字符串）</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>显式转换 – parseInt</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>显式转换 – parseFloat</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>显式转换 – Number</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>显式转换 – toString</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>显式转换 – toFixed</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题1</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>2</string>
				<key>question</key>
				<string>问题2</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题3</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题4</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>2</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>问题5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>11</string>
		<key>title</key>
		<string>知识总结与复习 (上)</string>
		<key>questionNumber</key>
		<string>10</string>
		<key>practiceNumber</key>
		<string>0</string>
		<key>chapterIcon</key>
		<string>chapter11</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>在HTML中书写JS代码的方式</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>声明变量的命名规范</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>声明变量的命名推荐</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>调试方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>当前涉及到的操作符</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>JS的基本数据类型</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>典型数据类型的比较</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>字符串与数字相互转换的方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>数组的创建、长度获取与数组元素访问</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>条件表达式（if语句）</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>chapterId</key>
		<string>12</string>
		<key>title</key>
		<string>知识总结与复习 (下)</string>
		<key>questionNumber</key>
		<string>9</string>
		<key>practiceNumber</key>
		<string>0</string>
		<key>chapterIcon</key>
		<string>chapter12</string>
		<key>questions</key>
		<array>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>0</string>
				<key>question</key>
				<string>标签获取方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>文本内容修改 innerHTML innerText</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>new Date() 时间对象</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>容易出现问题的时间获取方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>设置时间</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>3</string>
				<key>question</key>
				<string>Math对象的取整方法</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>随机数、随机整数的获取</string>
			</dict>
			<dict>
				<key>assignmentType</key>
				<string>1</string>
				<key>structureType</key>
				<string>1</string>
				<key>question</key>
				<string>本章总结</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
